src/main/resources/xsd/Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xdb="http://xmlns.oracle.com/xdb" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:com="urn:cik:smev-exchange:common" targetNamespace="urn:cik:smev-exchange:common" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import/>
	<xs:simpleType name="IdentifierType">
		<xs:annotation>
			<xs:documentation>Тип для идентификатора</xs:documentation>
		</xs:annotation>
		<xs:restriction base="com:string-254">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GUID">
		<xs:annotation>
			<xs:documentation>GUID</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:attribute name="RequestId" type="com:IdentifierType">
		<xs:annotation>
			<xs:documentation>Идентификатор запроса</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:simpleType name="SNILSType">
		<xs:annotation>
			<xs:documentation>СНИЛС</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="11"/>
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OKSMType">
		<xs:annotation>
			<xs:documentation>Справочник "Страны мира" (ОКСМ)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DocumentType">
		<xs:annotation>
			<xs:documentation>Тип документа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:complexType name="DocumentInfoType">
		<xs:annotation>
			<xs:documentation>Документ, удостоверяющий личность (реквизиты паспорта гражданина Российской Федерации или заменяющего его документа)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="com:DocumentType"/>
			<xs:element name="Series" type="com:string-256"/>
			<xs:element name="Number" type="com:string-256"/>
		</xs:sequence>
	</xs:complexType>
    
	<xs:simpleType name="DocumentStatusType">
		<xs:annotation>
			<xs:documentation>Результат проверки запроса о действительности паспорта и о его принадлежности физическому лицу, в отношении которого осуществляется проверка</xs:documentation>
		</xs:annotation>
		<xs:restriction base="com:string-254"/>
	</xs:simpleType>
	<xs:complexType name="AddressFullType">
		<xs:sequence>
			<xs:element name="Country" type="com:OKSMType" minOccurs="0"/>
			<xs:element name="Subject" type="com:string-256" minOccurs="0"/>
			<xs:element name="District" type="com:string-256" minOccurs="0"/>
			<xs:element name="City" type="com:string-256" minOccurs="0"/>
			<xs:element name="Town" type="com:string-256" minOccurs="0"/>
			<xs:element name="Street" type="com:string-256" minOccurs="0"/>
			<xs:element name="House" type="com:string-256" minOccurs="0"/>
			<xs:element name="Building" type="com:string-256" minOccurs="0"/>
			<xs:element name="Apartment" type="com:string-256" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ResponseStatusType">
		<xs:annotation>
			<xs:documentation>Статус записи в ответе на запрос</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-7][1-5]\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DocumentResponseInfoType">
		<xs:complexContent>
			<xs:extension base="com:DocumentInfoType">
				<xs:sequence>
					<xs:element name="Status" type="com:DocumentStatusType"/>
                    <xs:element name="InvalidReason" type="com:string-512" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Причина недействительности документа. Элемент присутствует в ответе, если паспорт недействителен  (docStatus = 301 - документ недействительный)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="invaliditySince" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дата с которой документ признан недействительным. Элемент присутствует в ответе, если паспорт недействителен  (docStatus = 301 - документ недействительный).</xs:documentation>
				</xs:annotation>
			</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="RegionCodeType">
		<xs:annotation>
			<xs:documentation>Справочник регионов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:element name="PersonId" type="com:IdentifierType"/>
	<xs:element name="FirstName" type="com:string-254"/>
	<xs:element name="LastName" type="com:string-254"/>
	<xs:element name="MiddleName" type="com:string-254"/>
	<xs:element name="BirthDate" type="xs:date"/>
	<xs:element name="BirthPlace" type="com:string-254"/>
	<xs:group name="PersonGroup">
		<xs:sequence>
			<xs:element ref="com:PersonId"/>
			<xs:element ref="com:FirstName"/>
			<xs:element ref="com:LastName"/>
			<xs:element ref="com:MiddleName" minOccurs="0"/>
			<xs:element ref="com:BirthDate"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="PersonGroupP">
		<xs:sequence>
			<xs:element ref="com:PersonId"/>
			<xs:element ref="com:FirstName"/>
			<xs:element ref="com:LastName"/>
			<xs:element ref="com:MiddleName" minOccurs="0"/>
			<xs:element ref="com:BirthDate"/>
			<xs:element ref="com:BirthPlace"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="AddressRequestType">
		<xs:sequence>
			<xs:element name="RegionCode" type="com:RegionCodeType"/>
			<xs:element name="Address" type="com:string-512"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="INNUL">
		<xs:annotation>
			<xs:documentation>ИНН юр. лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INNFL">
		<xs:annotation>
			<xs:documentation>ИНН физ. лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OGRNUL">
		<xs:annotation>
			<xs:documentation>ОГРН юр. лица</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="13"/>
			<xs:pattern value="[125]{1}\d{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RequestBaseType">
		<xs:attribute ref="com:RequestId" use="required"/>
	</xs:complexType>
	<xs:complexType name="ResponseBaseType">
		<xs:attribute ref="com:RequestId" use="required"/>
		<xs:attribute name="SmevID" type="com:GUID">
			<xs:annotation>
				<xs:documentation>Идентификатор ответа СМЭВ</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SmevDate" type="xs:dateTime" xdb:SQLType="TIMESTAMP WITH TIME ZONE">
			<xs:annotation>
				<xs:documentation>Дата получения ответа от СМЭВ</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ErrorResponseType">
		<xs:sequence>
			<xs:element name="Status" type="com:ResponseStatusType"/>
			<xs:element ref="com:PersonId" minOccurs="0"/>
			<xs:element name="Message" type="com:string-1000" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Сообщение об отсутвии сведений или невозможности предоставления</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ErrorCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FOIV">
				<xs:annotation>
					<xs:documentation>Сообщение об отсутсвии сведений или отказе (Истчоник сообщение - Поставщик сведений)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FLK">
				<xs:annotation>
					<xs:documentation>Ошибка ФЛК (Источник сообщения - ПТК СМЭВ)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ErrorResponse" type="com:ErrorResponseType"/>
	<xs:simpleType name="string-f-7">
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="string-0-5">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string-0-7">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="7"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string-0-10">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
	<xs:simpleType name="string-25">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="string-0-40">
    <xs:restriction base="xs:string">
      <xs:minLength value="0"/>
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
	<xs:simpleType name="string-50">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-60">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-100">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-150">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="150"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-200">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-254">
		<xs:restriction base="xs:string">
			<xs:maxLength value="254"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="string-256">
		<xs:restriction base="xs:string">
			<xs:maxLength value="256"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-500">
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-512">
		<xs:restriction base="xs:string">
			<xs:maxLength value="512"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-1000">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="string-2000">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
